@charset "UTF-8";

// モジュール｜見出し
// -------------------------------------------------------------------------------------------------------

/* ページタイトル
------------------------------------------------------------ */
.pageTitle {
    margin: 0 0 15px;
    font-size: fz(32, $baseFontSize);
}

h2 {
    margin: 0 0 10px;
    font-size: fz(24, $baseFontSize);
    line-height: 1.4;
}

h3 {
    margin: 0 0 5px;
    font-size: fz(18, $baseFontSize);
}