@charset "UTF-8";

// モジュール｜見出し
// -------------------------------------------------------------------------------------------------------

/* 通常のテキスト
------------------------------------------------------------ */
p {
    @extend %mt;
    &:first-of-type {
        margin-top: 0;
    }
}


/* コード
------------------------------------------------------------ */
code {
    font-family: $monospace;
}

.preCode {
    @extend %mt;
    background-color: #333;
    font-size: fz(14, $baseFontSize);
    color: #fff;
    padding: 10px 15px;
    border-radius: 3px;
}