@charset "UTF-8";

// モジュール｜リンク
// -------------------------------------------------------------------------------------------------------

/* リンク基本スタイル
------------------------------------------------------------ */
a {
    color: $baseLinkColor;
    text-decoration: none;
    &:visited {
        color: $baseLinkVisitedColor;
    }
    &:hover, &:active, &:focus {
        color: $baseLinkHoverColor;
    }
}


/* リンクリスト
------------------------------------------------------------ */
.listLink {
    @extend %mt;
}
