@charset "UTF-8";

// ブラウザスタイルの選択
// -------------------------------------------------------------------------------------------------------
// normalize.css を利用 => "normalize"
// reset.css を利用     => "reset"
$baseStyle: "reset";


// HTML5 要素の利用有無
// -------------------------------------------------------------------------------------------------------
$useHtml5: true;


// RWD 対応有無
// -------------------------------------------------------------------------------------------------------
$useRwd: true;


// レガシーブラウザの対応有無
// -------------------------------------------------------------------------------------------------------
$supportIe6: true;
$supportIe7: true;
$supportIe8: true;
$supportIe9: true;