@charset "UTF-8";

// 基本文字色
// -------------------------------------------------------------------------------------------------------
$baseFontColor: #333;


// リンク関連
// -------------------------------------------------------------------------------------------------------
$baseLinkColor:        blue;
$baseLinkVisitedColor: purple;
$baseLinkHoverColor:   purple;