@charset "UTF-8";

// グリッドシステムの利用有無
// -------------------------------------------------------------------------------------------------------
$useGridSystem: false;


// ブレークポイントの設定
// -------------------------------------------------------------------------------------------------------
$breakSmall:  480px;
$breakMedium: 800px;
$breakLarge:  1024px;


// コンテンツ幅設定
// -------------------------------------------------------------------------------------------------------
// コンテンツ全体幅
$pageMaxWidth: 960px;
// メインコンテンツ幅
$mainMaxWidth: 640px;
// サブコンテンツ幅
$subMaxWidth:  280px;